In [1]:
import pandas as pd

In [11]:
student_df = pd.read_csv('Student_Marks.csv')

In [5]:
student_df.describe()

       number_courses  time_study       Marks
count      100.000000  100.000000  100.000000
mean         5.290000    4.077140   24.417690
std          1.799523    2.372914   14.326199
min          3.000000    0.096000    5.609000
25%          4.000000    2.058500   12.633000
50%          5.000000    4.022000   20.059500
75%          7.000000    6.179250   36.676250
max          8.000000    7.957000   55.299000

In [6]:
student_df

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]

In [7]:
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [8]:
student_df.number_courses.unique()

array([3, 4, 6, 8, 5, 7])

In [18]:
student_df.sort_values(by = ['number_courses', 'time_study', 'Marks'])

    number_courses  time_study   Marks
96               3       0.301   5.609
67               3       0.550   6.185
75               3       0.803   6.217
79               3       0.805   6.349
87               3       1.033   6.053
..             ...         ...     ...
93               8       6.471  42.426
59               8       7.468  51.343
54               8       7.591  53.158
56               8       7.641  53.359
4                8       7.811  55.299

[100 rows x 3 columns]

In [19]:
student_df.groupby(by = 'number_courses')